@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
    background-image: url(/assets/bg.png);
    background-size: cover;
    
}

.container {
    background-color: rgb(186, 121, 244);
    opacity: 1000px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 30px;
}

.input-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-container input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container button {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color:#e962e4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color:#ac4ca8;;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #e962e4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.result {
    text-align: center;
    margin-top: 10px;
}

.result p {
    font-size: 18px;
    color: white;
    margin-bottom: 4px;
}

.result .khodam-name {
    font-weight: bold;
    color: white;
}


/* table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
} */

.notification {
    display: none;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

footer {
   
    color: white;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    margin:auto;
    margin-top: 700px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
